{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}
    
    <div class="container">
        <div class = "row">
            <div class="col-md-12"> 
                <h1>Sports Pitches</h1>
            </div>   
        </div>
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-outline-primary btn-md text-center"  href="{{url_for('main.new_pitch')}}"> Add Pitch </a>
            </div> 
        </div>
        <hr> 
        {% if pitchSports %}
            {% for sports in pitchSports %}
            <div class="col-xs-12 col-sm-6" >
                <div class="thumbnail" style="border:4px solid #222;border-radius: 5px;box-shadow: 10px 20px black;">
                    <div class="caption">
                        <div class="card" >
                            <div class="card-header">
                                Sports Pitch
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{sports.title}}</h5>
                                <p class="card-text">{{sports.pitch}}</p>
                                <p class="card-text">Posted On:{{sports.posted}} By {{sports.user.username}}</p>
                                <a class="btn btn-outline-info btn-sm text-center" href="/pitch/new/comment/{{sports.id}}"> View Comments </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor%}
        {% else %}
            <h3 class ="text-center" style="font-size:150%"> This category has no pitches </h3>
            <a class="btn btn-success btn-sm text-center"  href="{{url_for('main.new_pitch')}}">Write a new Pitch</a>
        {% endif %}
    </div>
{% endblock %}